* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    
} 
header {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: rgb(16, 16, 16);
    height: 110px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
header img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 2px;
    padding: 10px;
}
header a {
    text-decoration: none;
    color: white;
}
  header nav ul {
    display: flex;
    list-style: none;
}
header li {
    padding: 40px;
    font-size: 16px;
    margin-right: 20px;
    transition: transform 0.2s; 
  }
  header li:hover {
    transform: scale(1.1); 
  }
.thirdSection {
    position: relative; /* Required for absolute positioning within the container */
    display: inline-block; /* Keeps the container inline with the text */
}
.thirdSection img {
    max-width: 100%; /* Ensure the image resizes with the container */
    height: auto; /* Maintain the image's aspect ratio */
    width: 100vw;
}
.thirdSection .text-overlay p {
    font-size: 40px;
    color: white;
    text-align: center;
    margin: 0;
    
}

.thirdSection .text-overlay {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: #ffffff;
}

.thirdSection #link {
    font-size: medium;
}
.thirdSection a {
    text-decoration: none;
    color: rgb(46, 39, 178);
}
.thirdSection a:hover {
    text-decoration: underline;
}

.fourthSection {
    position: relative; /* Required for absolute positioning within the container */
    display: inline-block; /* Keeps the container inline with the text */
}

.fourthSection img {
    max-width: 100%; /* Ensure the image resizes with the container */
    height: auto; /* Maintain the image's aspect ratio */
    width: 100vw;
}
.fourthSection .text-overlay p {
    font-size: 36px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.fourthSection .text-overlay p {
    margin: 3px;
}
.fourthSection .text-overlay {
    position: absolute; /* Position the text element relative to the container */
    top: 28%; /* Adjust vertical position as needed (e.g., to center it) */
    left: 50%; /* Adjust horizontal position as needed (e.g., to center it) */
    transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
    /* background-color: rgba(255, 255, 255, 0.7);  */
    padding: 10px; 
    /* color: #ffffff;  */
}
.fourthSection #link {
    font-size: medium;
}
.fourthSection a {
    text-decoration: none;
    color: rgb(46, 39, 178);
}
.fourthSection a:hover {
    text-decoration: underline;
}
.fifthSection {
    position: relative; /* Required for absolute positioning within the container */
    display: inline-block; /* Keeps the container inline with the text */
}

.fifthSection img {
    max-width: 100%; /* Ensure the image resizes with the container */
    height: auto; /* Maintain the image's aspect ratio */
    width: 100vw;
}
.fifthSection p img {
    width: 190px;
}
.fifthSection .text-overlay p {
    font-size: 33px;
    color: rgb(255, 255, 255);
    text-align: center;
}
#red {
    font-size: 18px;
    letter-spacing: 2px;
    color: rgb(136, 26, 26);
}
.fifthSection .text-overlay p {
    margin: 0;
}
.fifthSection .text-overlay {
    position: absolute; /* Position the text element relative to the container */
    top: 12%; /* Adjust vertical position as needed (e.g., to center it) */
    left: 50%; /* Adjust horizontal position as needed (e.g., to center it) */
    transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
    padding: 10px; 
    
}
.fifthSection #link {
    font-size: medium;
}
.fifthSection a {
    text-decoration: none;
    color: rgb(46, 39, 178);
}
.fifthSection a:hover {
    text-decoration: underline;
}
/* .sixthSection {
    max-width: 100%;
    height: auto;
    width: 100vw;
}
.sixthSection .login-box {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px 30%;
    border: 1px;
    border-color: black;
    background: white;
    box-shadow: 5px 5px 15px rgb(92, 91, 91);
} */

.sixthSection {
    background-color: #0e0b0b;
    max-width: 100%;
    height: 600px;
    width: 100vw;
    text-align: center;
    padding: 20px;
}
.login-box {
    background-image: url('images/dark-theme-black-apple-logo-fofwmcbvp302cjbz.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 2%;
    border-radius: 10px;
}
.login-box h2 {
    margin: 0 0 20px;
    color: #ffffff;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
label {
     color: white;
}
#email{
    color: white;
}
#password {
    color: white;
}
input {
    background-color: rgba(0, 0, 0, 0.5);
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #343536;
    color: #fff;
    border: none;
    border-radius: 10px !important;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000;
}

footer {
    display: flex;
    justify-content: space-around;
    color: rgb(108, 107, 107);
    background-color: rgb(237, 234, 234);
    height: 100px;
    box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.5);
}

footer .copyright {
    font-size: 10px;
    margin: 60px;
}

@media all and (min-width: 500px) and (max-width: 1300px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
        background-size: cover; 
        
    }
    
    header {
        display: flex;
        justify-content: space-around;
        color: white;
        background-color: rgb(16, 16, 16);
        height: 110px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    }
    header img {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 2px;
        padding: 10px;
    }
    
    header a {
        text-decoration: none;
        color: white;
    }
    
      header nav ul {
        display: flex;
        list-style: none;
    }
    
    header li {
        padding: 40px;
        font-size: 16px;
        margin-right: 20px;
        transition: transform 0.2s; 
      }
      
      header li:hover {
        transform: scale(1.1); 
      }
    
    /* .thirdSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    } */
    
    .thirdSection {
        position: relative; /* Required for absolute positioning within the container */
        display: inline-block; /* Keeps the container inline with the text */
    }
    .thirdSection img {
        max-width: 100%; /* Ensure the image resizes with the container */
        height: auto; /* Maintain the image's aspect ratio */
        width: 100vw;
    }
    .thirdSection .text-overlay p {
        font-size: 18px;
        color: white;
        text-align: center;
        margin: 0;
        
    }
    
    .thirdSection .text-overlay {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        color: #ffffff;
    }
    
    .thirdSection #link {
        font-size: 14px;
    }
    .thirdSection a {
        text-decoration: none;
        color: rgb(46, 39, 178);
    }
    .thirdSection a:hover {
        text-decoration: underline;
    }
    
    .fourthSection {
        position: relative; /* Required for absolute positioning within the container */
        display: inline-block; /* Keeps the container inline with the text */
    }
    
    .fourthSection img {
        max-width: 100%; /* Ensure the image resizes with the container */
        height: auto; /* Maintain the image's aspect ratio */
        width: 100vw;
    }
    .fourthSection .text-overlay p {
        font-size: 18px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 0;
    }
    .fourthSection .text-overlay p {
        margin: 3px;
    }
    .fourthSection .text-overlay {
        position: absolute; /* Position the text element relative to the container */
        top: 28%; /* Adjust vertical position as needed (e.g., to center it) */
        left: 50%; /* Adjust horizontal position as needed (e.g., to center it) */
        transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
        /* background-color: rgba(255, 255, 255, 0.7);  */
        padding: 10px; 
        /* color: #ffffff;  */
    }
    .fourthSection #link {
        font-size: 14px;
    }
    .fourthSection a {
        text-decoration: none;
        color: rgb(46, 39, 178);
    }
    .fourthSection a:hover {
        text-decoration: underline;
    }
    .fifthSection {
        position: relative; /* Required for absolute positioning within the container */
        display: inline-block; /* Keeps the container inline with the text */
    }
    
    .fifthSection img {
        max-width: 100%; /* Ensure the image resizes with the container */
        height: auto; /* Maintain the image's aspect ratio */
        width: 100vw;
    }
    .fifthSection p img {
        width: 70px;
    }
    .fifthSection .text-overlay p {
        font-size: 21px;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    #red {
        font-size: 10px;
        letter-spacing: 2px;
        color: rgb(136, 26, 26);
    }
    .fifthSection .text-overlay p {
        margin: 0;
    }
    .fifthSection .text-overlay {
        position: absolute; /* Position the text element relative to the container */
        top: 12%; /* Adjust vertical position as needed (e.g., to center it) */
        left: 50%; /* Adjust horizontal position as needed (e.g., to center it) */
        transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
        /* background-color: rgba(255, 255, 255, 0.7);  */
        padding: 10px; 
        /* color: #ffffff;  */
    }
    .fifthSection #link {
        font-size: 14px;
    }
    .fifthSection a {
        text-decoration: none;
        color: rgb(46, 39, 178);
    }
    .fifthSection a:hover {
        text-decoration: underline;
    }
    .sixthSection {
        background-color: #0e0b0b;
        max-width: 100%;
        height: 600px;
        width: 100vw;
        text-align: center;
        padding: 20px;
    }
    .login-box {
        background-image: url('images/dark-theme-black-apple-logo-fofwmcbvp302cjbz.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 80px 25%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 2%;
        border-radius: 10px;
    }
    .login-box h2 {
        margin: 0 0 20px;
        color: #ffffff;
    }
    
    .input-container {
        margin-bottom: 15px;
        text-align: left;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    label {
         color: white;
    }
    #email{
        color: white;
    }
    #password {
        color: white;
    }
    input {
        background-color: rgba(0, 0, 0, 0.5);
    }
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    button {
        background-color: #343536;
        color: #fff;
        border: none;
        border-radius: 10px !important;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #000000;
    }
    
    footer {
        display: flex;
        justify-content: space-around;
        color: rgb(108, 107, 107);
        background-color: rgb(237, 234, 234);
        height: 100px;
        box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.5);
    }
    
    footer .copyright {
        font-size: 10px;
        margin: 60px;
    }
}
@media all and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        background-color: rgb(16, 16, 16);
        height: 80px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    }
    header img {
        padding: 18px;
        width: 77px;
        padding-bottom: 0;
    }
    header nav ul {
       
    }
    header li {
        padding: 0;
        padding-bottom: 3px;
        font-size: 20px;
        transition: transform 0.2s; 
    }
    header li:hover {
        transform: scale(1.1); 
    }
    .thirdSection {
        position: relative; /* Required for absolute positioning within the container */
        display: inline-block; /* Keeps the container inline with the text */
    }
    .thirdSection img {
        max-width: 100%; /* Ensure the image resizes with the container */
        height: auto; /* Maintain the image's aspect ratio */
        width: 100vw;
    }
    .thirdSection .text-overlay p {
        font-size: 10px;
        color: white;
        text-align: center;
        margin: 0;
        
    }
    
    .thirdSection .text-overlay {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        color: #ffffff;
    }
    
    .thirdSection #link {
        font-size: 10px;
    }
    .thirdSection a {
        text-decoration: none;
        color: rgb(46, 39, 178);
    }
    .thirdSection a:hover {
        text-decoration: underline;
    }
    
    .fourthSection {
        position: relative; /* Required for absolute positioning within the container */
        display: inline-block; /* Keeps the container inline with the text */
    }
    
    .fourthSection img {
        max-width: 100%; /* Ensure the image resizes with the container */
        height: auto; /* Maintain the image's aspect ratio */
        width: 100vw;
    }
    .fourthSection .text-overlay p {
        font-size: 10px;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 0;
    }
    .fourthSection .text-overlay p {
        margin: 3px;
    }
    .fourthSection .text-overlay {
        position: absolute; /* Position the text element relative to the container */
        top: 28%; /* Adjust vertical position as needed (e.g., to center it) */
        left: 50%; /* Adjust horizontal position as needed (e.g., to center it) */
        transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
        /* background-color: rgba(255, 255, 255, 0.7);  */
        padding: 10px; 
        /* color: #ffffff;  */
    }
    .fourthSection #link {
        font-size: 10px;
    }
    .fourthSection a {
        text-decoration: none;
        color: rgb(46, 39, 178);
    }
    .fourthSection a:hover {
        text-decoration: underline;
    }
    .fifthSection {
        position: relative; /* Required for absolute positioning within the container */
        display: inline-block; /* Keeps the container inline with the text */
    }
    
    .fifthSection img {
        max-width: 100%; /* Ensure the image resizes with the container */
        height: auto; /* Maintain the image's aspect ratio */
        width: 100vw;
    }
    .fifthSection p img {
        width: 50px;
    }
    .fifthSection .text-overlay p {
        font-size: 10px;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    #red {
        font-size: 5px;
        letter-spacing: 2px;
        color: rgb(136, 26, 26);
    }
    .fifthSection .text-overlay p {
        margin: 0;
    }
    .fifthSection .text-overlay {
        position: absolute; /* Position the text element relative to the container */
        top: 12%; /* Adjust vertical position as needed (e.g., to center it) */
        left: 50%; /* Adjust horizontal position as needed (e.g., to center it) */
        transform: translate(-50%, -50%); /* Center the text both vertically and horizontally */
        /* background-color: rgba(255, 255, 255, 0.7);  */
        padding: 10px; 
        /* color: #ffffff;  */
    }
    .fifthSection #link {
        font-size: 5px;
    }
    .fifthSection a {
        text-decoration: none;
        color: rgb(46, 39, 178);
    }
    .fifthSection a:hover {
        text-decoration: underline;
    }
    .sixthSection {
        background-color: #0e0b0b;
        max-width: 100%;
        height: 500px;
        width: 100vw;
        text-align: center;
        padding: 20px;
    }
    .login-box {
        background-image: url('images/dark-theme-black-apple-logo-fofwmcbvp302cjbz.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 50px 20%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 2%;
        border-radius: 10px;
    }
    .login-box h2 {
        margin: 0 0 20px;
        color: #ffffff;
    }
    
    .input-container {
        margin-bottom: 15px;
        text-align: left;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    label {
         color: white;
    }
    #email{
        color: white;
    }
    #password {
        color: white;
    }
    input {
        background-color: rgba(0, 0, 0, 0.5);
    }
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    button {
        background-color: #343536;
        color: #fff;
        border: none;
        border-radius: 10px !important;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #000000;
    }
    
    footer {
        display: flex;
        justify-content: space-around;
        color: rgb(108, 107, 107);
        background-color: rgb(237, 234, 234);
        height: 100px;
        box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.5);
    }
    
    footer .copyright {
        font-size: 10px;
        margin: 60px;
    }
}
